    <section class="container">
        <div>
            <div>
                <a [routerLink]="['']">Home</a>
                <a [routerLink]="['gallery']">Gallery</a>
                <a [routerLink]="['f&f']">Faculty and Facility</a>
                <a [routerLink]="['adminList']">Admin List</a>
            </div>
            <div>
                <a  [routerLink]="['news']">News</a>
                <a [routerLink]="['downloads']">Curriculum</a>
                <a [routerLink]="['login']" >Admin Login</a>
                <a [routerLink]="['contactUs']">Contact Us</a>
            </div>
    </div>
    <div class="links">
            <div>
                <a href=""><i class="fab fa-linkedin"  target="_blank"></i></a>
                <a href="tel:+919925193233"><i class="fa fa-mobile"></i></a>
                <a href="mailto:newsamarathschool@gmail.com"><i class="fa fa-envelope"></i></a>
            </div>
            <div>
                <a href=""><i class="fab fa-twitter-square"  target="_blank"></i></a>
                <a href="https://www.facebook.com/NEWSAMARATHSCHOOL" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-instagram"  target="_blank"></i></a>
            </div>
        </div>
        <div class="copyright">
            <hr><br>
            <p>
                &copy; Copyright 2021 . Made with ❤ by Tecqnics . All rights reserved .</p>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>
