    <section class="container">
        <div>
            <div>
                <a href="">Home</a>
                <a href="">Gallery</a>
                <a href="">Faculty and Facility</a>
                <a href="">Curriculam</a>
            </div>
            <div>
                <a href="">News</a>
                <a href="">Downloads</a>
                <a href="">Admin Login</a>
                <a href="">Contact Us</a>
            </div>
    </div>
    <div class="links">
            <div>
                <a href=""><i class="fab fa-linkedin"></i></a>
                <a href=""><i class="fa fa-mobile"></i></a>
                <a href=""><i class="fa fa-envelope"></i></a>
            </div>
            <div>
                <a href=""><i class="fab fa-twitter-square"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="copyright">
            <hr><br>
            <p>
                &copy; Copyright 2021 . Made with ❤ by Tecqnics . All rights reserved .</p>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>
