
   <div class="container" >
      <div class="heading" style="
      text-decoration: underline; margin-top: 4rem;">
         <!-- {{item.newsType}} -->
      </div>
      <div class="addBtn">
        <a class="update" (click)="showModalDialog()">Add</a>
      </div>
    </div>


    <p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
      <ng-template let-message pTemplate="message">
          <div class="p-flex p-flex-column" style="flex: 1">
              <div class="p-text-center">
                  <!-- <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i> -->
                  <h4>{{message.summary}}</h4>
                  <p>{{message.detail}}</p>
              </div>
              <div class="p-grid p-fluid">
                  <div class="p-col-6">
                      <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-danger"></button>
                  </div>
                  <div class="p-col-6">
                      <button type="button" style="margin-left: 1rem;" pButton (click)="onReject()" label="No" class="p-button-info"></button>
                  </div>
              </div>
          </div>
      </ng-template>
  </p-toast>

<div class="facilities">

  <div class="facility" *ngFor="let news of item.data">
      <div class="info">
          <div class="title">
              <!-- <p class="heading">{{news.title}}</p> -->
              <div class="buttons">
                <a  type="button" pButton pRipple (click)="showConfirm()" label="Confirm"  class="p-button-danger" >Delete</a>
                <a class="update" (click)="showModalDialogForOfficeBearer()" >Update</a>
              </div>
          </div>
          <!-- <p>{{news.desc}}</p> -->
      </div>
      <!-- <img src="{{news.image}}"> -->
  </div>



</div>




<p-dialog header="Edit Detail About Us" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
[draggable]="true" [resizable]="false" >

      <form>
        <div class="form-group ">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control"  style="padding: 0.375rem 0.75rem;border: 1px solid #ced4da;"  id="exampleInputEmail1" formControlName="excutiveDirectorName" aria-describedby="emailHelp" placeholder="Name of Facility">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group ">
          <label for="exampleInputEmail1">Image</label>
          <input type="file" class="form-control"  style="padding: 0.375rem 0.75rem;border: 1px solid #ced4da;"  id="exampleInputEmail1" formControlName="excutiveDirector"  aria-describedby="excutiveDirector" accept=".jpeg, .png, .jpg" placeholder="Image of Facility">
          <!-- <small id="excutiveDirector" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group ">
          <label for="exampleInputEmail1">Description</label>
          <textarea maxlength="550" class="form-control"  style="padding: 0.375rem 0.75rem;border: 1px solid #ced4da;"  id="exampleInputEmail1" formControlName="excutiveDirector"  aria-describedby="excutiveDirector" placeholder="Discription of the Facility"></textarea>
          <!-- <small id="excutiveDirector" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

      </form>

        <br>
        <button   style="padding: 0.375rem 0.75rem;font-size: 1rem;border-radius: 0.25rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;"  (click)="aboutUsSubmit()"class="btn btn-primary">Submit</button>


</p-dialog>


<p-dialog header="Edit Detail About Us" [(visible)]="displayModalUpdate" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
[draggable]="true" [resizable]="false" >

      <form>
          <div class="form-group ">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control"  style="padding: 0.375rem 0.75rem;border: 1px solid #ced4da;"  id="exampleInputEmail1" formControlName="excutiveDirectorName" aria-describedby="emailHelp" placeholder="Name of Facility">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-group ">
            <label for="exampleInputEmail1">Image</label>
            <input type="file" class="form-control"   style="padding: 0.375rem 0.75rem;border: 1px solid #ced4da;"  id="exampleInputEmail1" formControlName="excutiveDirector"  aria-describedby="excutiveDirector" accept=".jpeg, .png, .jpg" placeholder="Image of Facility">
            <!-- <small id="excutiveDirector" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-group ">
            <label for="exampleInputEmail1">Description</label>
            <textarea maxlength="550" class="form-control"  style="padding: 0.375rem 0.75rem;border: 1px solid #ced4da;"  id="exampleInputEmail1" formControlName="excutiveDirector"  aria-describedby="excutiveDirector" placeholder="Discription of the Facility"></textarea>
            <!-- <small id="excutiveDirector" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
      </form>
        <br>
        <button  (click)="aboutUsSubmit()"  style="padding: 0.375rem 0.75rem;font-size: 1rem;border-radius: 0.25rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" class="btn btn-primary">Submit</button>


</p-dialog>


