<div class="bodyDivision">
  <div class="login section">
    <div class="heading">Administration Login</div>
    <form [formGroup]="loginForm"    >
      <div class="form-group">
        <label for="exampleFormControlInput1" required>Email</label>
        <input type="email" class="form-control" formControlName="emailID"  id="exampleFormControlInput1" placeholder="emailID"  value="">
        <p id="emailHelp"  *ngIf="loginForm.get('emailID')?.touched && loginForm.get('emailID')?.valid == false" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;">Invalid Email</span></p>

      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Password</label>
        <input type="password" class="form-control"  formControlName="password" id="exampleFormControlInput1" placeholder="password">
        <p id="excutiveDirector"  (click)="forgotPasswordMethod()"  class="form-text text-muted" style="font-size:0.7rem;float: right;font-weight: bolder; text-decoration: underline; color: blue;">Forgot Password ?</p>
        <p id="emailHelp"  *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.valid == false" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;">Invalid Password :
                                                                                                    <ul><li>have 6 to 16 valid characters</li>
                                                                                                        <li>have at least a number</li>
                                                                                                        <li>have atleast specail character</li>
                                                                                                    </ul> </span></p>
      </div>
    <br>
    <button [disabled]="!loginForm.valid" (click)="loginDataDetails()"class="btn btn-primary">Submit</button>

    </form>
  </div>
</div>




<p-dialog header="Edit Detail About Us" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
[draggable]="true" [resizable]="false" >
    <form class="container-fluid" method="post" [formGroup]="forgotForm">
      <div class="form-group col-md-6">
        <label for="exampleInputEmail1">Email</label>
        <input type="text" class="form-control" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp" placeholder="Enter Registered Email">
        <p id="emailHelp"  *ngIf="forgotForm.get('email')?.touched && forgotForm.get('email')?.valid == false" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;">Invalid Email</span></p>
      </div>
        <br>
        <button  (click)="forgotPasswordFormSubmit()"class="btn btn-primary">Submit</button>
    </form>
</p-dialog>






<p-toast key="toast" position="top-right" ></p-toast>
