
    <div class="addBtn">
      <a class="update" (click)="showModalDialog()">Add</a>
  </div>
  <div class="section container-fluid" style="overflow-x:auto;">


    <div *ngIf="state.length==0">
        NO DATA TO SHOW
    </div>
    <table *ngIf="state.length!=0"  class="table table-striped table-responsive" style="overflow-x:scroll" scrollx="true" scroll>
      <thead class="thead-primary ">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Full name</th>
          <th scope="col">Designation</th>
          <th scope="col">Joining Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of state; index as i;">
          <th scope="row">{{i+1}}</th>
          <td><img src="{{item.photoURL}}" alt="teachers name"></td>
          <td>{{item.facultyName}}</td>
          <td>{{item.designation}}</td>
          <td>{{item.createdAt | date}}</td>
          <td><a pButton pRipple    (click)="showConfirm(item._id)"label="Delete"  class="p-button-danger"  ></a>&nbsp;&nbsp;&nbsp;<a pButton pRipple    (click)="showModalDialogUpdate(item._id)"label="Update"  class="p-button-info"  ></a></td>
        </tr>
      </tbody>
    </table>
  </div>



  <p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <!-- <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i> -->
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-danger"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" style="margin-left: 1rem;" pButton (click)="onReject()" label="No" class="p-button-info"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>


<p-dialog header="Add Faculty Detail" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
[draggable]="true" [resizable]="false" >

      <form [formGroup]="addFaculty">
        <div class="form-group ">
          <label for="exampleInputEmail1">Faculty Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" formControlName="facultyName" aria-describedby="facultyName" placeholder="Name of Faculty">
          <p id="emailHelp"  *ngIf="addFaculty.get('facultyName')?.touched && addFaculty.get('facultyName')?.valid == false" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;">Invalid Facility</span></p>
        </div>
        <div class="form-group ">
          <label for="exampleInputEmail1">Image</label>
          <input type="file" class="form-control" id="exampleInputEmail1" formControlName="image" (change)="changeDocData($event)"   aria-describedby="excutiveDirector" accept=".jpeg, .png, .jpg" placeholder="Image of Faculty">
       <p id="emailHelp"  *ngIf="addFaculty.get('image')?.touched && addFaculty.get('image')?.valid == false" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;">Invalid Image :
                                                                                                                                                                                                                                                            <ul><li>Size should be less than 200kb</li>
                                                                                                                                                                                                                                                                <li>Image should be of type jpg , jpeg , png . </li>
                                                                                                                                                                                                                                                            </ul> </span></p>
        <p id="emailHelp"  *ngIf="addFaculty.get('image')?.touched && addFaculty.get('image')?.valid == true" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;cursor: pointer; text-decoration:underline;" (click)="removeAddImage()">Click here to remove the image !!!</span></p>

        </div>
        <div class="form-group ">
          <label for="exampleInputEmail1">Designation</label>
          <input type="text" class="form-control" id="exampleInputEmail1" formControlName="designation"   aria-describedby="excutiveDirector" accept=".jpeg, .png, .jpg" placeholder="Designation of Faculty">
          <p id="emailHelp"  *ngIf="addFaculty.get('designation')?.touched && addFaculty.get('designation')?.valid == false" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;">Invalid Designation</span></p>
        </div>

        <br>
        <button [disabled]="!addFaculty?.valid"  (click)="aboutUsSubmit()"class="btn btn-primary">Submit</button>

      </form>


</p-dialog>


<p-dialog header="Update Faculty Details" [(visible)]="displayModalUpdate" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
[draggable]="true" [resizable]="false"    >


  <form [formGroup]="addFaculty">



    <input type="hidden" class="form-control" id="exampleInputEmail1" formControlName="_id" aria-describedby="Id">

    <div class="form-group ">
          <label for="exampleInputEmail1">Faculty Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" formControlName="facultyName" aria-describedby="facultyName" placeholder="Name of Faculty">
          <p id="emailHelp"  *ngIf="addFaculty.get('facultyName')?.touched && addFaculty.get('facultyName')?.valid == false" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;">Invalid Facility</span></p>
        </div>
        <div class="form-group ">
          <label for="exampleInputEmail1">Image</label>
          <input type="file" class="form-control" id="exampleInputEmail1" formControlName="image" (change)="changeDocData($event)"   aria-describedby="excutiveDirector" accept=".jpeg, .png, .jpg" placeholder="Image of Faculty">
        <p id="emailHelp"  *ngIf="image.size!=0" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;cursor: pointer; text-decoration:underline;" (click)="removeAddImage()">Click here to remove the image !!!</span></p>

        </div>
        <div class="form-group ">
          <label for="exampleInputEmail1">Designation</label>
          <input type="text" class="form-control" id="exampleInputEmail1" formControlName="designation"   aria-describedby="excutiveDirector" accept=".jpeg, .png, .jpg" placeholder="Designation of Faculty">
          <p id="emailHelp"  *ngIf="addFaculty.get('designation')?.touched && addFaculty.get('designation')?.valid == false" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;">Invalid Designation</span></p>
        </div>

        <br>
        <button [disabled]="!addFaculty?.valid"  (click)="aboutUsSubmit()"class="btn btn-primary">Submit</button>

      </form>


</p-dialog>





<p-toast key="toast" position="top-right" ></p-toast>

