
    <div class="addBtn">
      <a class="update" href="">Add</a>
  </div>
  <div class="section container-fluid">

    <table class="table table-striped table-responsive">
      <thead class="thead-primary ">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Full name</th>
          <th scope="col">Designation</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><img src="../../../assets/images/profileImg.png" alt="teachers name"></td>
          <td>Mark Lee</td>
          <td>primary</td>
          <td><a href="">Delete</a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><img src="../../../assets/images/profileImg.png" alt="teachers name"></td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td><a href="">Delete</a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td><img src="../../../assets/images/profileImg.png" alt="teachers name"></td>
          <td>Larry</td>
          <td>the Bird</td>
          <td><a href="">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
