@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oxygen&family=Roboto+Slab:wght@300&display=swap');

*,*:after,*:before
{
    border:0px;
    margin: 0px;
    padding:0px;
    --header-bg: #f1f7fc;
    --header-text: #263378;
    --header-sub-text: #4a59aa;
    --header-bg-dark: #c3c9e7;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Roboto Slab', serif;
}
::selection {
    color: none;
    background: none;
}

.heading {
    text-align: center;
    font-size: 1.6rem;
    /* width: auto; */
    /* border: 1px solid red; */
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0.35rem 0 0.35rem 0;
    padding: 0.25rem 2rem 0.25rem 2rem;
    color: var(--header-text);
    background-color:var(--header-bg);
}

.eventsGrid{
    display:grid;
    margin-top: 1.5rem;
    grid-template-columns:auto;
    grid-template-rows:auto;
    justify-content:center;
    align-items: center;

}
.eventsGrid a{
  padding:0.2rem 0.3rem;
  border-radius: 0.2rem;
  /* border:1px solid red; */
  text-align: center;
  margin: 0.2rem;
  text-decoration: none;
  background-color: var(--header-text);
  color:var(--header-bg);
  transition: 0.3s;
}
.eventsGrid a:hover{
  background-color: var(--header-sub-text);
}

.container{
    margin: 4rem 1rem;
    text-align: center;
    /* border: 1px solid red; */
}
.addBtn{

    /* margin: 1rem; */
    width: 100%;
}

.points{
        display: flex;
        flex-direction:column;
        width: 100%;
        margin: 2rem 0rem;
        padding:0rem 0.3rem;
        background-color: var(--header-bg-dark);
        justify-content: center;
        align-items: center;
        padding:0.5rem 0.2rem;
}
.update{
    background-color: var(--header-text);
    padding: 0.15em 0.5em 0.15em 0.5em;
    margin: 0.15em 0.5em 0.15em 0.5em;
    color:var(--header-bg);
    float:right;
    border-radius: 0.3em;
    text-decoration: none;
    }

.delete{
    background-color:red;
    padding: 0.15em 0.5em 0.15em 0.5em;
    margin: 0.35em 0em 0em 0em;
    color:var(--header-bg);

    border-radius: 0.3em;
    text-decoration: none;
    }


    @media only screen and (min-width: 350px) {

        .eventsGrid{
            display:grid;
            grid-template-columns:auto auto;
            grid-template-rows:auto auto;
        }
    }

@media only screen and (min-width: 690px) {

    .eventsGrid{
        display:grid;
        grid-template-columns:auto auto auto;
        grid-template-rows:auto auto auto;
    }
}
@media only screen and (min-width: 750px) {

    .eventsGrid{
        display:flex;
        flex-direction: row;

    }
    .container{
        margin: 3rem;
    }
    .points{
        flex-direction: row;
        padding:1rem 1rem;
        justify-content:space-between;

    }
}

