<div class="addBtn">
  <a class="update" href="">Add</a>
</div>
<div class="facilities">

  <div class="facility">
      <div class="info">
          <div class="title">
              <p class="heading">Science Lab</p>
              <div class="buttons">
                  <a class="delete" href="">Delete</a>
                  <a class="update" href="">Update</a>
              </div>
          </div>
          <p>Lorem ipsum, dd modi, dolorem quos dolores veniam accusamus illum deleniti quae, fugit labore? Placeat saepe voluptates magnam dignissimos dicta iste, debitis consequatur repellat ipsum, molestiae quo provident accusamus rerum officia. Dolorem consectetur minima, non sit itaque in odit suscipit iure, recusandae molestias libero, repellat vel ullam accusamus expedita! Impedit, provident esse? Culpa nulla eum nesciunt accusantium atque. Incidunt inventore, accusantium provident doloribus velit unde ipsa dolorem architecto.</p>
      </div>
      <img src="../../assets/images/11.jpg">
  </div>

  <div class="facility">
      <div class="info">
          <div class="title">
              <p class="heading">Science Lab</p>
              <div class="buttons">
                  <a class="delete" href="">Delete</a>
                  <a class="update" href="">Update</a>
              </div>
          </div>
          <p>Lorem ipsum, dd modi, dolorem quos dolores veniam accusamus illum deleniti quae, fugit labore? Placeat saepe voluptates magnam dignissimos dicta iste, debitis consequatur repellat ipsum, molestiae quo provident accusamus rerum officia. Dolorem consectetur minima, non sit itaque in odit suscipit iure, recusandae molestias libero, repellat vel ullam accusamus expedita! Impedit, provident esse? Culpa nulla eum nesciunt accusantium atque. Incidunt inventore, accusantium provident doloribus velit unde ipsa dolorem architecto.</p>
      </div>
      <img src="../../assets/images/11.jpg">
  </div>

  <div class="facility">
      <div class="info">
          <div class="title">
              <p class="heading">Science Lab</p>
              <div class="buttons">
                  <a class="delete" href="">Delete</a>
                  <a class="update" href="">Update</a>
              </div>
          </div>
          <p>Lorem ipsum, dd modi, dolorem quos dolores veniam accusamus illum deleniti quae, fugit labore? Placeat saepe voluptates magnam dignissimos dicta iste, debitis consequatur repellat ipsum, molestiae quo provident accusamus rerum officia. Dolorem consectetur minima, non sit itaque in odit suscipit iure, recusandae molestias libero, repellat vel ullam accusamus expedita! Impedit, provident esse? Culpa nulla eum nesciunt accusantium atque. Incidunt inventore, accusantium provident doloribus velit unde ipsa dolorem architecto.</p>
      </div>
      <img src="../../assets/images/11.jpg">
  </div>

  <div class="facility">
      <div class="info">
          <div class="title">
              <p class="heading">Science Lab</p>
              <div class="buttons">
                  <a class="delete" href="">Delete</a>
                  <a class="update" href="">Update</a>
              </div>
          </div>
          <p>Lorem ipsum, dd modi, dolorem quos dolores veniam accusamus illum deleniti quae, fugit labore? Placeat saepe voluptates magnam dignissimos dicta iste, debitis consequatur repellat ipsum, molestiae quo provident accusamus rerum officia. Dolorem consectetur minima, non sit itaque in odit suscipit iure, recusandae molestias libero, repellat vel ullam accusamus expedita! Impedit, provident esse? Culpa nulla eum nesciunt accusantium atque. Incidunt inventore, accusantium provident doloribus velit unde ipsa dolorem architecto.</p>
      </div>
      <img src="../../assets/images/11.jpg">
  </div>
</div>


