
<section class="body">
    <div class="hero-img">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block  w-100" src="../../assets/images/newSamarath.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>NEW SAMARATH ENGLISH H/S SCHOOL</h1>
                    <p>PRE-PRIMARY | PRIMARY | HIGH SCHOOL | HIGHER SECONDARY </p>
                </div>
              </div>
            </div>
          </div>
    </div>





    <!-- ABOUT US !!!!!!!1 -->
    <!-- ABOUT US !!!!!!!1 -->
    <!-- ABOUT US !!!!!!!1 -->
    <!-- ABOUT US !!!!!!!1 -->

    <div class=" about-us ">
      <div class="heading">ABOUT US</div>
      <ul [innerHTML]="aboutUsDetails">

      </ul>
      <a class="edit-btn office" (click)="showModalDialog()" label="Show">Edit Details</a>
    </div>

    <p-dialog header="Edit Detail About Us" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
        [draggable]="true" [resizable]="false" [closable]="false" >

          <form [formGroup]="aboutUsForm">



              <angular-editor [placeholder]="'Enter text here...'" formControlName="description"  [config]="config"  [(ngModel)]="htmlContent"></angular-editor>
                <br>
                <button  (click)="aboutUsSubmit()"class="btn btn-primary">Submit</button>&nbsp;
                <button  (click)="displayModal=false"class="btn btn-danger">Close</button>

              </form>

    </p-dialog>




    <!-- OFFICE BEARIERE !!!!!!!1 -->
    <!-- OFFICE BEARIERE !!!!!!!1 -->
    <!-- OFFICE BEARIERE !!!!!!!1 -->
    <!-- OFFICE BEARIERE !!!!!!!1 -->

    <div class="office section">
      <div class="heading">Office Bearer</div>
      <div class="office">
        <div class="office1" >
            <app-office-bearer-image-component class="app-office-bearer-image-component" *ngFor="let office of office1;"  [info]="office" ></app-office-bearer-image-component>
        </div>
        <div class="office2" >
          <app-office-bearer-image-component class="app-office-bearer-image-component"  *ngFor="let office of office2;" [info]="office" ></app-office-bearer-image-component>
        </div>
        <a class="edit-btn office" (click)="showModalDialogForOfficeBearer()">Edit Office  Bearier Details</a>
      </div>
    </div>






    <!--  FOR TTHE UPDATING OF THE ABOUT US SECTION -->
    <p-dialog header="Edit Detail Office Bearer" [(visible)]="displayModalOfficeBearer" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="true" [resizable]="false" [closable]="false">

    <!--    a)	Executive Director
     b)	Director
     c)	Principal
     d)	Vice Principal
     e)	Advisor -->

          <form class="container-fluid" [formGroup]="officeBearerForm">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Excutive Director Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" formControlName="excutiveDirectorName"  placeholder="Enter Excutive Director Name" >
                <p id="emailHelp"  *ngIf="officeBearerForm.get('excutiveDirectorName')?.touched && officeBearerForm.get('excutiveDirectorName')?.valid == false" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;">Invalid Name</span></p>
            </div>
              <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Excutive Director Image</label>
                <input type="file" class="form-control" id="exampleInputEmail1" formControlName="excutiveDirector" (change)="changeDocData($event , 'excutiveDirector')"  aria-describedby="excutiveDirector" accept=".jpeg, .png, .jpg" placeholder="Image of excutive Director">
                <p id="emailHelp"  *ngIf="officeBearerForm.get('excutiveDirector')?.touched && this.imageExcutiveDirector.size != 0" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;cursor: pointer; text-decoration:underline;" (click)="removeAddImage('excutiveDirector')">Click here to remove the image !!!</span></p>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Director Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1"  formControlName="directorName"  placeholder="Enter Director Name">
                <p id="emailHelp"  *ngIf="officeBearerForm.get('directorName')?.touched && officeBearerForm.get('directorName')?.valid == false" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;">Invalid Name</span></p>
              </div>
              <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Director Image</label>
                <input type="file" class="form-control" id="exampleInputEmail1" formControlName="director" (change)="changeDocData($event , 'director')"  aria-describedby="Director" accept=".jpeg, .png, .jpg" placeholder="Image of Director">
                <p id="emailHelp"  *ngIf="officeBearerForm.get('director')?.touched && this.imageDirector.size != 0" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;cursor: pointer; text-decoration:underline;" (click)="removeAddImage('director')">Click here to remove the image !!!</span></p>

              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Principal Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" formControlName="principalName"  placeholder="Enter Principal Name">
                <p id="emailHelp"  *ngIf="officeBearerForm.get('principalName')?.touched && officeBearerForm.get('principalName')?.valid == false" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;">Invalid Name</span></p>
              </div>
              <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Principal Image</label>
                <input type="file" class="form-control" id="exampleInputEmail1" (change)="changeDocData($event , 'principal')" formControlName="principal"  aria-describedby="excutiveDirector" accept=".jpeg, .png, .jpg" placeholder="Image of principal">
                <p id="emailHelp"  *ngIf="officeBearerForm.get('principal')?.touched && this.imagePrincipal.size != 0" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;cursor: pointer; text-decoration:underline;" (click)="removeAddImage('principal')">Click here to remove the image !!!</span></p>

              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Vice-Principal Name</label>
                <!-- {{} -->
                <input type="text" class="form-control" id="exampleInputEmail1" formControlName="vicePrincipalDirectorName"  placeholder="Enter Vice-Principal Director Name">
                <p id="emailHelp"  *ngIf="officeBearerForm.get('vicePrincipalDirectorName')?.touched && officeBearerForm.get('vicePrincipalDirectorName')?.valid == false" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;">Invalid Name</span></p>
              </div>
              <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Vice-Principal Image</label>
                <input type="file" class="form-control" id="exampleInputEmail1" (change)="changeDocData($event , 'vicePrincipalDirector')" formControlName="vicePrincipalDirector"  aria-describedby="excutiveDirector" accept=".jpeg, .png, .jpg" placeholder="Image of Vice-Principal Director">
                <p id="emailHelp"  *ngIf="officeBearerForm.get('vicePrincipalDirector')?.touched && this.imageVicePrincipalDirector.size != 0" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;cursor: pointer; text-decoration:underline;" (click)="removeAddImage('vicePrincipalDirector')">Click here to remove the image !!!</span></p>

              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Advisor Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" formControlName="advisorName"  placeholder="Enter Advisor Name">
                <p id="emailHelp"  *ngIf="officeBearerForm.get('advisorName')?.touched && officeBearerForm.get('advisorName')?.valid == false" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;">Invalid Name</span></p>
              </div>
              <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Advisor Image</label>
                <input type="file" class="form-control" id="exampleInputEmail1" (change)="changeDocData($event , 'advisor')" formControlName="advisor"  aria-describedby="excutiveDirector" accept=".jpeg, .png, .jpg" placeholder="Image of Advisor">
                <p id="emailHelp"  *ngIf="officeBearerForm.get('advisor')?.touched && this.imageAdvisor.size != 0" class="form-text text-muted" style="margin: 0px;padding:0px;"><span style="color:red;font-size:0.6rem;font-weight:bolder;margin: 0px; padding: 0px;cursor: pointer; text-decoration:underline;" (click)="removeAddImage('advisor')">Click here to remove the image !!!</span></p>

              </div>
            </div>

            <button [disabled]="!officeBearerForm.valid"  (click)="OfficeBearerSubmit()"class="btn btn-primary">Submit</button>&nbsp;
            <button  (click)="displayModalOfficeBearer=false"class="btn btn-danger">Close</button>


          </form>
      </p-dialog>



    <div class="vision section">
      <div class="heading">Vision, Mission, Beliefs & Objectives of School</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis elementum neque, sit amet molestie nisl pharetra in. Suspendisse hendrerit consequat metus, id venenatis urna elementum vel. Fusce fringilla magna enim, sed dignissim turpis laoreet ac. Curabitur tincidunt urna eu nunc tristique, vitae vehicula augue sollicitudin. Nullam eget vehicula odio. Vivamus ultricies dolor ex, ac sagittis tortor cursus nec. Praesent neque risus, gravida vitae nisi vitae, scelerisque venenatis dolor. Nunc quis mi vitae ante lobortis dignissim. Mauris felis risus, euismod quis erat non, mollis rutrum enim. Nam posuere enim velit, ut fermentum eros malesuada a.
      </p>
    </div>
    <div class="environment section">
      <div class="heading">Environment Responsibility</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis elementum neque, sit amet molestie nisl pharetra in. Suspendisse hendrerit consequat metus, id venenatis urna elementum vel. Fusce fringilla magna enim, sed dignissim turpis laoreet ac. Curabitur tincidunt urna eu nunc tristique, vitae vehicula augue sollicitudin. Nullam eget vehicula odio. Vivamus ultricies dolor ex, ac sagittis tortor cursus nec. Praesent neque risus, gravida vitae nisi vitae, scelerisque venenatis dolor. Nunc quis mi vitae ante lobortis dignissim. Mauris felis risus, euismod quis erat non, mollis rutrum enim. Nam posuere enim velit, ut fermentum eros malesuada a.
      </p>
    </div>

    <br><br>

<!--
    <div class="contactus section">
      <div class="heading">Contact us</div>
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Name</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Enter Message </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="message" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary ">Submit</button>
      </form>
    </div>
</section>
 -->









  <!-- <h3 class="tex.t-left heading2">Form Group</h3><br> -->
            <!-- <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Enter Name">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
            <label for="exampleInputEmail1">File</label>
            <input type="file" class="form-control" id="exampleInputEmail1"  accept=".jpeg, .png, .jpg" placeholder="Enter Name">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>


          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Add image From Start</label>
          </div>
          <div class="form-check form-check-inline" style="margin-bottom: 1rem; margin-top: 1rem;">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Add Image From End</label>
          </div> -->




<p-toast key="toast" position="top-right" ></p-toast>
